<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default container">
		<h1>Results</h1>
    </nav>
    <div class="container">
		<p>You Searched for <%= input %></p>
		<p><%= dvds.length %> dvds found</p>
	</div>
    <div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Award</th>
			</tr>
		</thead>
		<tbody>
			<% dvds.forEach(function(dvd){ %>
			<tr>
				<td><%= dvd.title %></td>
				<td><%= dvd.award %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
    </div>
</body>
</html>